html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: #D3D3D3;
  min-height: 100%;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]) ,

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.timer {
  width: 100%;
}

.timer_box {
  padding-top: 2em;
}


.chart_box {
  width: 100%;
  height: 250px;
}

.margin_top_short {
  margin-top: 1.5em;
}

.float_right{
  float: right;
}

.float_left{
  float: left;
}

.no_bottom_padding {
  padding-bottom: 5px !important;
}

.no_bottom_margin {
  margin-bottom: 5px !important;
}
